* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;

  overflow-x: hidden;
  background-color: #f6efdc; 
}

#root {
  width: 100%;
  min-height: 100vh;
}
